/* @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: local('Montserrat ExtraLight'), local('Montserrat-Medium'),
        url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

 */


@import url('https://fonts.cdnfonts.com/css/montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}

.home .swiper-wrapper .swiper-slide {
    height: auto !important;
}

.bestsellers-products-item__img {
    height: 270px;
}

.slider-homepage__btn a {
    color: #fff;
}

.slider-homepage__pagination {
    left: 104px !important;
}

.bestsellers-products-item__btn {
    display: block;
}


.sub-title a {
    color: #141414;
}

.in-list {
    /* border-color: black;
    background: black;
    border-radius: 72%;
    width: 42px;
    height: 23px;
    position: absolute;
    right: 0; */
    width: 42px;
    height: 42px;
    border-radius: 42px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 41px;
    border: 1px solid black;
    background: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    padding-right: 1px;
}

.bestsellers-products-item__favorites {
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: black;
    /* border: 1px solid black; */
    position: relative;
}

.bestsellers-products-item__favorites img {
    position: absolute;
    left: -7px;
    bottom: 10px;
    height: 21px;
}

/* .bestsellers-products-item__favorites svg {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    top: 5px;
    position: relative;
} */