/* @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: local('Montserrat ExtraLight'), local('Montserrat-Medium'),
        url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

 */


@import url('https://fonts.cdnfonts.com/css/montserrat');



.home .swiper-wrapper .swiper-slide {
    height: auto !important;
}

.bestsellers-products-item__img {
    height: 270px;
}

.slider-homepage__btn a {
    color: #fff;
}

.slider-homepage__pagination {
    left: 104px !important;
}

.bestsellers-products-item__btn {
    display: block;
}

.bestsellers-products-item__btn {
    margin-bottom: unset;
}


.sub-title a {
    color: #141414;
}

.in-list {
    width: 42px;
    height: 42px;
    border-radius: 42px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 41px;
    border: 1px solid black;
    background: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    padding-right: 1px;
}

.bestsellers-products-item__favorites {
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: black;
    position: relative;
}

.product-information__right-top .product-information__icons img {
    height: 30px;
    object-fit: cover;
}


.bestsellers-products-item__favorites img {
    position: absolute;
    left: -7px;
    bottom: 10px;
    height: 21px;
}


.add_favorite {
    z-index: 99;
}

.bestsellers-products-item__favorites.in_list {
    background-color: #e8aa31;
    background-image: url('../img/favorites.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.bestsellers-products-item__favorites.in_list img {
    display: none;
}


.header {
    position: relative;
}

.cart-products.active {
    overflow-y: scroll;
}

.cart-content {
    /* margin: unset !important; */
    /* padding: 38px 45px 39px 45px;
    width: max-content;
    max-height: max-content; */
    padding: 38px 11px 39px 23px;
    /* width: max-content; */
    max-height: max-content;
}

.card-item {
    padding: 14px 0px 15px 0px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e8aa31;
}

.card-item .card-img img {
    display: inline-block;
    width: 54px;
    height: 54px;
}



.header .card-img {
    margin-right: 25px;
}


.card-input {
    background: rgba(210, 210, 210, .15);
    border-radius: 3px;
    outline: unset;
    color: #141414;
    font: 500 14px/27px Montserrat, sans-serif;
    /* padding: 14px 5px; */
    text-align: center;
    border: none;
    text-align: center;
    width: 33px;
}

.header .icon-plus,
.header .icon-minus {
    background-color: #141414;
    color: #fff;
    padding: 5px;
    font: 500 11px/20px Montserrat, sans-serif;
    transition: background-color .3s;
    border: unset;
    outline: unset;
    cursor: pointer;
}

.header .icon:hover {
    background-color: #e8aa31;
}

.card-info__title {
    overflow: hidden;
    font-size: 12px;
    max-width: 120px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-price {
    margin-left: 8px;
}


.card-quantity {
    margin-left: 25px;
}

.header .cart-products.active {
    width: 480px;
    max-height: 480px;
}

.bestsellers-products-item__size {
    /* flex: 1; */
}

.bestsellers-products-item__structure {
    /* flex: 1; */
    text-align: center;
}

.select-header__column-title {
    text-transform: capitalize;
}

.header__name-location {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .stars_sm {
    width: 68px;
    height: 12px;
    background-image: url('../img/stars_sm.png');
} */

.cart-price {
    padding-bottom: 25px;
    text-align: center;
}

body .site-container header .dgwt-wcas-search-form .dgwt-wcas-search-input {
    background: rgba(7, 7, 7, .03);
    padding-left: 43px;
    border-radius: 3px;
    width: 100%;
    outline: 0;
    height: 41px;
    transition: .3s ease-out;
    border: 1px solid #141414;
}

.header__search-field::after {
    display: none !important;
}

body .site-container header .dgwt-wcas-search-form .dgwt-wcas-search-input:hover,
body .site-container header .dgwt-wcas-search-form .dgwt-wcas-search-input:focus {
    border: 1px solid #e8aa31;
}

.custom-logo-link.hidden {
    display: none;
}

.header .text-cart-order a {
    font: 500 16px/20px Montserrat, sans-serif;
    color: #e8aa31;
}

@media(max-width: 991px) {
    .text-above .title {
        margin: 0 auto 25px auto !important;
    }

    .custom-logo-link {
        padding-top: 20px;
    }

    .header__logo span {
        top: 31px;
    }

    .header__left-second {
        margin: 0 auto;
    }

    .page-template-templates .dgwt-wcas-overlay-mobile {
        position: absolute;
        left: 0;
        right: 0;
        top: 11%;
        bottom: 0;
        width: 100%;
        height: 5%;
        background: #fff;
    }

    .page-template-templates .dgwt-wcas-overlay-mobile.visible {
        margin-top: 21px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
    }

    .page-template .page-header .menu-wrapper {
        top: 166px;
    }

    .slider-homepage {
        margin-top: -25px;
    }

    .header__second-line {
        height: 90px;
        z-index: 999;
        position: relative;
    }

    .header .cart-products {
        left: 0;
        right: 0 !important;
        margin: 120px auto 0 auto;
    }

    .header .cart-products.active {
        top: -38px;
    }

}

@media(max-width: 500px) {
    .header .cart-products {
        left: unset;
    }

    .header .cart-products .cart-content {
        padding: 38px 0px 39px 0px;
        width: auto;
    }

    .header .card-img {
        margin-left: 89px;
    }

    /* 
    .header .card-img {
        margin-right: unset;
    }

    .card-quantity {
        margin-left: 5px;
    } */

    .header .cart-products .card-item {
        justify-content: center;
    }
}

.header .cart-products {
    top: 0;
    right: 45px;
    transition: max-height .3s .1s, width .3s .1s, box-shadow .7s .5s, top .3s .1s;
}

.header .cart-products {
    top: -12px;
    /* right: 45px; */
    overflow-y: auto;
    border: 1px solid #e8aa31;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #E8AA31 !important;
    opacity: .5 !important;
}

.product-information__right-side {
    height: max-content;
}

.bestsellers-products-item__btn {
    text-transform: capitalize;
}

.bestsellers-products-item__rating {
    display: flex;
    justify-content: space-between;
}

.product-information__title-rating .bestsellers-products-item__line {
    margin: 10px 20px;
}

.bestsellers-products-item__line .stars {
    background-image: url('../img/rating-stars.png');
    background-repeat: no-repeat;
    width: 153px;
    height: 23px;
}

.bestsellers-products-item__line .stars span {
    display: block;
    height: 100%;
    width: 0;
    background-image: url('../img/stars-full.png');
}


.bestsellers-products-item__btn {
    margin: 0px 0 21px 0px;
}

.woocommerce table.shop_attributes td {
    font-style: normal;
}

.wpcf7-response-output {
    color: #ffb900;
}

.mc4wp-checkbox label {

    position: relative;
    cursor: pointer;
    padding: 0;
    color: rgba(255, 255, 255, .8);
    font: 500 18px/27px Montserrat, sans-serif;
}


.mc4wp-checkbox [type=checkbox] {
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #fff;

}


.mc4wp-checkbox [type=checkbox]:checked::before {
    content: "";
    background: #e8aa31;
}

.mc4wp-checkbox [type=checkbox]:checked::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 10px;
    background: #fff;
    width: 3px;
    height: 4px;
    box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
    transform: rotate(45deg);
}

.mc4wp-checkbox [type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
}

.footer-item-email p {
    position: relative;
    max-width: 369px;
    display: flex;
}

.footer .wpcf7-form .footer-item-email:before {
    content: "";
    background: url('../img/sprite.svg#arrow-white') no-repeat;
    position: absolute;
    right: 2px;
    top: 18px;
    z-index: 9999;
    display: block;
    transform: rotate(270deg);
    width: 25px;
    height: 16px;
    margin: 0 auto;
}

.footer-item .input-email {
    text-transform: unset;
}

@media (max-width: 1375px) {
    .footer .wpcf7-form .footer-item-email {
        margin: 0 auto;
    }
}

@media (min-width: 991px) {
    .product-information {
        margin-top: 80px;
    }
}



.product-information__right-item-left {
    text-transform: capitalize;
}


.product-information__right-top .bestsellers-products-item__favorites {
    background-color: unset;
}

.variations {
    position: relative;
}



.value select {
    background: #fff;
    height: 40px;
    padding: 0 45px 0 10px;
    border: 1px solid rgba(4, 4, 4, .15);
    border-radius: 3px;
    box-shadow: unset;
    font: 500 14px/39px Montserrat, sans-serif;
    color: rgba(20, 20, 20, .5);
    text-shadow: unset;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.custom-arrow {
    background-color: #141414;
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    border-left: 1px solid #ccc;
    pointer-events: none;
    cursor: pointer;
    z-index: 9999;
}



.product-information__right-block .variations {
    display: flex;
    align-items: center;
}

.info-dropdown .jq-selectbox__dropdown {
    width: 90% !important;
}

.product-information__right-block .variations,
.info-dropdown {
    width: 100%;
}



.feedback-item .meta {
    display: flex;
    justify-content: space-between;
}

.woocommerce .star-rating {
    float: unset !important;
}


.feedback-item .stars {
    background-image: url('../img/rating-stars.png');
    background-repeat: no-repeat;
    width: 153px;
    height: 23px;
}

.feedback-item .stars span {
    display: block;
    height: 100%;
    width: 0;
    background-image: url('../img/stars-full.png');
}



/* .woocommerce .star-rating::before {
    content: unset !important;
    top: unset !important;
    position: unset !important;
    display: block;
    height: 5px;
    width: 0;

    background-image: url('../img/stars-full.png');
}


.woocommerce .star-rating span::before {
    content: unset !important;
    top: unset !important;
    position: unset !important;
    left: unset !important;
}


.woocommerce .star-rating span {
    content: unset !important;
    top: 0;
    position: absolute;
    left: 0;
    color: #e8aa31;
    background-image: url('../img/stars-full.png');
} */

.product-information .group-btns {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.single_variation_wrap {
    display: flex;
    flex-direction: column;
}

.woocommerce-variation .single_variation {
    order: 1;
}

.variations {
    /* margin-top: 25px; */
    order: 2;
}

.product-information__right-bottom {
    order: 3;
}


.product-information__container .product-information__right-dropdowns .variations_form .btn-yellow {
    background-color: #E8AA31;
    color: #fff;
    width: 100%;
    box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
    border-radius: 3px;
    outline: none;
    border: none;
    font: 600 18px/21px "Montserrat", sans-serif;
    padding: 17px 0;
    text-align: center;
    cursor: pointer;
}

.product-information__container .product-information__right-dropdowns .variations_form .btn-yellow::after {
    content: "";
    background: url("../img/cart-white.svg") no-repeat;
    width: 27px;
    height: 27px;
    position: absolute;
    margin-left: 15px;
    margin-top: -4px;
}


.product-information__container .product-information__right-dropdowns .variations_form .btn-bottom {
    font: 600 18px/21px "Montserrat", sans-serif;
    width: 205px;
    text-align: center;
    margin: 0 auto;
}

.product-information__container .product-information__right-dropdowns .variations_form .btn-bottom:first-child:hover {
    background-color: #141414;
    box-shadow: unset;
}

.product-information__quantity {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.product-information__right-side .product-information__right-wrapper .product-information__right-dropdowns .cart .btn-yellow {
    background-color: #E8AA31;
    color: #fff;
    /* width: 100%; */
    box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
    border-radius: 3px;
    outline: none;
    border: none;
    font: 600 18px/21px "Montserrat", sans-serif;
    padding: 17px 0;
    text-align: center;
    cursor: pointer;
}

.product-information__right-side .product-information__right-wrapper .product-information__right-dropdowns .cart .btn-yellow::after {
    content: "";
    background: url("../img/cart-white.svg") no-repeat;
    width: 27px;
    height: 27px;
    position: absolute;
    margin-left: 10px;
    margin-top: -4px;
}




.product-information__right-side .product-information__right-wrapper .product-information__right-dropdowns .cart {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 2fr)); */

    /* display: flex;
    flex-direction: column; */
}



.out_stock {
    color: red;
    font: 500 18px/27px Montserrat, sans-serif;
}



.info-dropdown select {
    display: none;
}

.custom-select {
    display: inline-block;
    position: relative;
    padding: 0 30px 0 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    width: 200px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-select.open {
    background-color: #f2f2f2;
    border-color: #999;
}

.custom-select::after {
    content: '';
    position: absolute;
    top: 16px;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #999 transparent transparent transparent;
}

.custom-option {
    display: block;
    padding: 0 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-option:last-of-type {
    border-bottom: none;
}







/* Filter Page */

.items-project {
    margin-top: 90px;
}

.items-project .taxs {
    padding-top: 20px;
    padding-left: 10px;
}

@media(min-width: 991px) {
    .items-project {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 2fr));
        grid-gap: 90px;
    }

    .cardd-item:nth-child(even) {
        margin-bottom: 8%;
    }

    .cardd-item:nth-child(odd) {
        margin-top: 8%;
    }
}

@media(max-width: 991px) {
    .items-project {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 20px;
    }
}

.cardd-item {
    display: flex;
    flex-direction: column;
    background: #EFEFEF;
    transition: .3s ease-in;
}

.cardd-item:hover {
    background-color: yellow;
}



.cardd-item .card-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}

.cardd-item .card-content {
    padding: 40px;
    text-align: right;
}


.cardd-item .card-content h1 {
    font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000;
    text-transform: capitalize;
}

.cardd-item .tax {
    padding: 16px 10px;
    font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    background: #FFED49;
    border-radius: 23px;

}

.cardd-item .card-content h1 a {
    font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000;
    text-transform: capitalize;
}

.cardd-item .card-location {
    font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000;
    position: relative;
    display: flex;
    justify-content: right;
    padding-right: 25px;

}

.cardd-item .card-location::after {
    content: "";
    width: 12px;
    height: 14px;
    position: absolute;
    right: 0;
    background-image: url('https://topaz.exit-tech.com/wp-content/uploads/2023/03/location.svg');
}

.loadmore {
    margin-top: 130px;
    margin-bottom: 150px;
    display: flex;
    width: 100%;
}

.load_more {
    padding: 14px 0px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    width: 100%;
    border: 1px solid #000000;
    position: relative;
}

.loadmore .load_more::before {
    content: "";
    width: 21px;
    height: 33px;
    position: absolute;
    margin-left: -28px;
    background-repeat: no-repeat;
    background-image: url('https://topaz.exit-tech.com/wp-content/uploads/2023/03/plus-button.svg');
}





.elementor-widget-shortcode .elementor-shortcode {
    display: none;
}

.items-project {
    margin-top: 90px;
}

.items-project .taxs {
    padding-top: 20px;
    padding-left: 10px;
}

@media(min-width: 991px) {
    .items-project {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 2fr));
        grid-gap: 90px;
    }

    .cardd-item:nth-child(even) {
        margin-bottom: 8%;
    }

    .cardd-item:nth-child(odd) {
        margin-top: 8%;
    }
}

@media(max-width: 991px) {
    .items-project {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 20px;
    }
}

.cardd-item {
    display: flex;
    flex-direction: column;
    background: #EFEFEF;
    transition: .3s ease-in;
}

.cardd-item:hover {
    background-color: yellow;
}



.cardd-item .card-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}

.cardd-item .card-content {
    padding: 40px;
    text-align: right;
}


.cardd-item .card-content h1 {
    font-family: 'Inter' 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000;
    text-transform: capitalize;
}

.cardd-item .tax {
    padding: 16px 10px;
    font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    background: #FFED49;
    border-radius: 23px;

}

.cardd-item .card-content h1 a {
    font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000;
    text-transform: capitalize;
}

.cardd-item .card-location {
    font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000;
    position: relative;
    display: flex;
    justify-content: right;
    padding-right: 25px;

}

.cardd-item .card-location::after {
    content: "";
    width: 12px;
    height: 14px;
    position: absolute;
    right: 0;
    background-image: url('https://topaz.exit-tech.com/wp-content/uploads/2023/03/location.svg');
}

.loadmore {
    margin-top: 130px;
    margin-bottom: 150px;
    display: flex;
    width: 100%;
}

.load_more {
    padding: 14px 0px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    width: 100%;
    border: 1px solid #000000;
    position: relative;
    color: #000;
}

.loadmore .load_more::before {
    content: "";
    width: 21px;
    height: 33px;
    position: absolute;
    margin-left: -28px;
    background-repeat: no-repeat;
    background-image: url('https://topaz.exit-tech.com/wp-content/uploads/2023/03/plus-button.svg');
}

.filters-project {
    display: flex;
    justify-content: flex-start;
}

.filters-project .project-filter {
    position: relative;
}

.filters-project .form-title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementor-widget-shortcode .elementor-shortcode {
    display: none;
}

.items-project {
    margin-top: 90px;
}

.items-project .taxs {
    padding-top: 20px;
    padding-left: 10px;
}

@media(min-width: 991px) {
    .items-project {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 2fr));
        grid-gap: 90px;
    }

    .cardd-item:nth-child(even) {
        margin-bottom: 8%;
    }

    .cardd-item:nth-child(odd) {
        margin-top: 8%;
    }
}

@media(max-width: 991px) {
    .items-project {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 20px;
    }
}

.cardd-item {
    display: flex;
    flex-direction: column;
    background: #EFEFEF;
    transition: .3s ease-in;
}

.cardd-item:hover {
    background-color: yellow;
}



.cardd-item .card-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}

.cardd-item .card-content {
    padding: 40px;
    text-align: right;
}


.cardd-item .card-content h1 {
    font-family: 'Inter' 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000;
    text-transform: capitalize;
}

.cardd-item .tax {
    padding: 16px 10px;
    font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    background: #FFED49;
    border-radius: 23px;

}

.cardd-item .card-content h1 a {
    font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000;
    text-transform: capitalize;
}

.cardd-item .card-location {
    font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000;
    position: relative;
    display: flex;
    justify-content: right;
    padding-right: 25px;

}

.cardd-item .card-location::after {
    content: "";
    width: 12px;
    height: 14px;
    position: absolute;
    right: 0;
    background-image: url('https://topaz.exit-tech.com/wp-content/uploads/2023/03/location.svg');
}

.loadmore {
    margin-top: 130px;
    margin-bottom: 150px;
    display: flex;
    width: 100%;
}

.load_more {
    padding: 14px 0px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    width: 100%;
    border: 1px solid #000000;
    position: relative;
    color: #000;
}

.loadmore .load_more span {
    position: relative;
}

/* .loadmore .load_more span::before {
    content: "";
    width: 21px;
    height: 33px;
    position: absolute;
    left: -38px;
    top: 0px;
    background-repeat: no-repeat;
    background-image: url('https://topaz.exit-tech.com/wp-content/uploads/2023/03/plus-button.svg');
} */

/* .filters-project {
    display: flex;
    justify-content: flex-start;
} */

.filters-project .project-filter {
    position: relative;
}



.filters-project form {
    display: flex;
    justify-content: right;
    align-items: center;
}

.select-wrapper {
    position: relative;
    width: 211px;
    margin: 0 32px;
}


.select-header-list {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 32px 20px 28px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    cursor: pointer;
}

.select-droppdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
    z-index: 999;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.16);
}

.select-droppdown.open {
    display: block;
}

.select-droppdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.select-droppdown li {
    padding: 5px;
    cursor: pointer;
    transition: .3s all;
}

.select-droppdown li:hover {
    background-color: #FFED49;
}

.select-droppdown .checkbox {
    display: none;
}

.checkbox-label {
    display: block;
    margin: 14px 16px;
    cursor: pointer;
}


.select-droppdown input[type="checkbox"][checked] {
    display: none;
}

.select-droppdown .active {
    background-color: #FFED49;
}


.select-header-list {
    position: relative;
}

.rotate-down:after {
    content: "";
    width: 14px;
    height: 8px;
    position: absolute;
    left: 33px;
    border: unset;
    outline: unset;
    background-image: url("https://topaz.exit-tech.com/wp-content/uploads/2023/03/arrow-list.svg");
    transition: transform 0.3s ease;
}

.rotate-up:after {
    transform: rotate(180deg);
}

.select-droppdown.open+.rotate-down::after {
    transform: rotate(0);
}








body {
    position: relative;
}


.filter-form.open {
    transform: translateY(0);
}


.open {
    display: block;
}


@media screen and (min-width: 768px) {
    .filter-form {
        position: static;
        height: auto;
        overflow: visible;
        background-color: transparent;
        transition: none;
    }

    .filter-form.open {
        height: auto;
    }

    .filter-form {
        display: block;
    }

    .filter-toggle,
    .filter-close {
        display: none;
    }

    .filter-search {
        display: flex;
        align-items: center;
        position: relative;
    }

    .filter-search .input-search {
        position: relative;
        border: unset;
        outline: unset;
        border-bottom: 1px solid #000;
        text-align: right;
        padding-bottom: 22px;
        padding-top: 22px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .filter-search::after {
        content: "";
        left: 0;
        position: absolute;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        background-image: url('https://topaz.exit-tech.com/wp-content/uploads/2023/03/search-icon.svg');
    }

    .adaptive-title-filter {
        display: none;
    }
}


@media screen and (max-width: 767px) {
    .adaptive-title-filter {
        display: flex;
        justify-content: right;
        padding-bottom: 12px;
        font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
        ;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    .overlayy {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999999999999;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .filter-form {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: calc(100% - 60px);
        z-index: 10000;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: scroll;
        background-color: transparent;
    }

    .filter-form::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.5);
    }


    .filter-form {
        display: none;
    }

    .filter-form.open {
        display: flex;
        overflow-y: scroll;
        max-height: 90vh;
    }

    .filters-project form {
        flex-direction: column;
        background: #fff;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        min-height: 90%;
    }

    .filter-close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        border: none;
        cursor: pointer;
        z-index: 999;
        background-repeat: no-repeat;
        background-image: url('https://topaz.exit-tech.com/wp-content/uploads/2023/03/close.svg');
    }

    .select-wrapper {
        position: sticky;
        z-index: 1;
        width: -webkit-fill-available;
        margin: unset;
    }

    .select-wrapper:first-of-type {
        margin-top: 10%;
        z-index: 7;
    }

    .select-droppdown.open {
        margin-bottom: auto;
    }

    body.overlayy .container {
        max-width: unset;
        margin: unset;
        padding: unset;
    }


    .filters-project {
        justify-content: space-around;
    }

    .filter-toggle {
        position: relative;
        margin: 0 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 70%;
        height: 35px;
        background: #F6F6F6;
        border: unset;
        outline: unset;
        cursor: pointer;

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .filter-toggle::after {
        content: "";
        height: 14px;
        width: 14px;
        position: absolute;
        right: 0;
        left: 0;
        background-position: center;
        background-size: cover;
        background: url('https://topaz.exit-tech.com/wp-content/uploads/2023/03/btn-filter.svg') no-repeat;
    }


    .filter-search {
        position: relative;
        flex: 1 1 20%;
        background: #F6F6F6;
        border: unset;
        outline: unset;
        cursor: pointer;
    }


    .filters-project .form-title {
        display: none;
    }

    .input-search {
        display: none;
        position: absolute;
        /* top: 100%; */
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-top: none;
        z-index: 1;
    }

    .filter-search.open .input-search {
        display: block;
    }

    .filter-search::after {
        content: "";
        height: 26px;
        width: 33px;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        bottom: 0;
        background-position: center;
        background-size: cover;
        background: url('https://topaz.exit-tech.com/wp-content/uploads/2023/03/search-icon.svg') no-repeat;
    }

    .select-header-list {
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 20px 32px 20px 28px;
        background-color: #F6F6F6;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    .filter-form form .select-wrapper .select-header-list.rotate-up {
        background-color: #F6F6F6;
    }

    .filter-form form .select-wrapper .select-header-list {
        background-color: #fff;
        border: unset;
    }


    .select-droppdown.open {
        box-shadow: unset;
    }

    .filter-search.open {
        flex: 1 1 100%;
    }

    .filter-search.active .input-search {
        display: block;
    }
}


.shop-catalog__products {
    gap: 35px;
}

.single-products .bestsellers-products-item__favorites img {
    left: 0 !important;
}

.clear_wishlist {
    color: #e8aa31;
    text-decoration: unset;
}

@media(min-width: 767px) {
    .wishlist {
        margin-top: 120px;
        margin-bottom: 75px;
    }
}

@media(max-width: 767px) {
    .wishlist {
        margin: 60px 0;
    }
}

.cart-header {
    margin: 22px auto;
    text-align: center;
}

.cart-header a {
    color: #e8aa31;
}

/* .cart {
    margin-top: 120px;
} */

.title-box {
    padding-bottom: 35px;
}

.cart h1 {
    text-align: center;
}

.woocommerce-cart-form__cart-item .product-name a {
    color: #000;
    font-size: 19px;
}

.woocommerce-cart-form__cart-item .cart_item a,
.woocommerce-cart-form__cart-item .product-name {
    color: #000;
}

.woocommerce a.remove {
    color: #e8aa31 !important;
    transition: .3s ease-in;
}

.woocommerce a.remove:hover {
    background-color: unset !important;
    color: #e8aa31 !important;
}

.product-remove svg {
    display: block;
    fill: currentColor;
}

.product-remove svg {
    display: block;
    fill: currentColor;
}

#quantity_6425edd4b9b69 {
    text-align: center;
}

.variation dt {
    /* padding: 0 25px; */
    font-weight: 600;
    color: #000;
}

.product-name .variation {
    display: flex;
    align-items: baseline;
    /* flex-direction: column; */
}

.product-name .variation dd {
    padding-right: 15px;
}

.product-price span {
    font-weight: 600;
    color: #000;
}

.cart_totals .checkout-button {
    background-color: #e8aa31 !important;
}

.breadcrumbs-box .breadcrumbs {
    text-align: center;
    margin: 0 auto;
}

.row-checkout {
    display: grid;
    grid-template-columns: 50% 50%;
}

.parent-row {
    display: flex;
}

.parent-row .col-6 {
    width: 60%;
}

.parent-row .col-4 {
    width: 40%;
    padding: 0 45px;
}

.favorites__info-title .favorites__info-title {
    padding-right: 45px;
}

.close-card {
    color: #000;
    position: relative;
    bottom: 19px;
    right: 11px;
}

tbody .card-info .favorites__info-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;

    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

/* .shop-catalog .bestsellers-products-item .sale{
    background-color: #fff;
} */
.woocommerce span.onsale {
    margin-top: 20px !important;
    position: absolute !important;
    background-color: #e8aa31 !important;
    color: #fff !important;
    font: 600 18px/21px Montserrat, sans-serif !important;
    padding: 7px 22px !important;
}


.woocommerce span.onsale {
    min-height: unset !important;
    min-width: unset !important;
    /* padding: unset !important; */
    /* font-size: unset !important;
    font-weight: unset !important; */
    /* position: unset !important; */
    text-align: center;
    line-height: unset !important;
    top: unset !important;
    left: unset !important;
    /* margin: unset !important; */
    border-radius: unset !important;
    /* background-color: unset !important; */
    /* color: unset !important; */
    font-size: unset !important;
    z-index: unset !important;
}

.shop-catalog .bestsellers-products-item .sale {
    background-color: unset !important;
}

.shop-catalog__products .bestsellers-products-item__bottom img {
    width: 100%;
    left: 0;
    max-width: 100px;
}


.bestsellers-products-item__icons {
    flex-basis: unset;
    display: flex;
}

@media (min-width: 1150px) {
    .shop-category .btn-shop {
        display: none;
    }
}

/* .wpfMainWrapper{
    height: 750px;
} */
.wpfCheckboxHier>ul {
    margin-top: 20px;
}

.shop-catalog .blank {
    /* overflow: scroll; */
}

.overflowHidden header {
    display: none;
}

@media (max-width: 1150px) {
    .shop-catalog .activeLeft {
        /* top: 22% !important; */
        /* top: 35% !important; */
    }

    .shop-catalog__left .shop-catalog__filters {
        width: 60%;
    }

    /* .shop-catalog__filters {
        position: relative !important;
    } */

    .shop-catalog__left .shop-catalog__filters .wpfFilterWrapper .wfpTitle {
        width: 100% !important;
    }

}

@media (max-width: 1150px) {
    .page-header .menu-wrapper {
        top: 201px;
    }
}


.shop-catalog__left .shop-catalog__filters .wpfFilterWrapper .wfpTitle {
    width: 90%;
    background-color: #000;
    padding: 23px 0 23px 30px;
    color: #fff;
    font: 700 20px/21px Montserrat, sans-serif;
}

.shop-catalog__left .shop-catalog__filters .wpfFilterWrapper .wpfFilterTaxNameWrapper {
    font: 500 18px/27px Montserrat, sans-serif;
    cursor: pointer;
}

.shop-catalog__left .shop-catalog__filters .wpfFilterWrapper ul:not(.wpfButtonsFilter) li {
    margin-bottom: 20px;
}

.shop-catalog__left .shop-catalog__filters .fa-minus:before {
    color: #e8aa31;
}

.shop-catalog__left .shop-catalog__filters .fa-plus:before {
    color: #e8aa31;
}

.shop-catalog__left .shop-catalog__filters .wpfFilterWrapper {
    position: relative;
}

.shop-catalog__left .shop-catalog__filters .wpfFilterWrapper i {
    position: absolute;
    font-size: 24px;
    z-index: 9999;
    right: 27px;
    top: 28px;
}

.header__logo span {
    color: #141414;
    font-size: 24px;
    font-weight: 600;
    /* top: 31px; */
    position: relative;
}

.wpfFilterWrapper:first-child {
    margin-top: unset;
    padding: unset;
}

.shop-category__sortby {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row-reverse;
}

.btn-reset {
    padding: 18px 55px;
    font: 600 20px/21px Montserrat, sans-serif;
    margin-right: 25px;
    height: 42px;
    display: flex;
    align-items: center;
}

.shop-catalog__pagination li {
    margin-right: 15px;
    padding: 8px 13px;
    /* padding: 13px !important; */
}

.pagination {
    margin-left: auto;
}

.bestsellers-products-item__img span.onsale {
    margin-top: 20px !important;
    position: absolute !important;
    background-color: #e8aa31 !important;
    color: #fff !important;
    font: 600 18px/21px Montserrat, sans-serif !important;
    padding: 7px 22px !important;
}

.footer-item .input-email {
    text-transform: capitalize;
}

.bestsellers-products-item {
    display: flex;
}

@media(max-width: 756px) {
    .shop-category__second-row {
        flex-direction: column;
    }

    .shop-category .btn-shop {
        margin-bottom: 25px;
    }

    .site-container .shop-category .jq-selectbox {
        width: 100%;
    }

    .site-container .shop-category .jq-selectbox .jq-selectbox__dropdown {
        width: 100% !important;
    }

}

@media(max-width: 600px) {
    .shop-category__sortby {
        flex-direction: column-reverse;
    }

    .btn-reset {
        margin: 0 auto 25px auto;
    }
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity input[type=number] {
    -moz-appearance: textfield;
}

.variations_form.hidden {
    display: none !important;
}

.alg-product-input-fields-table,
.alg-product-input-fields-table tr,
.alg-product-input-fields-table td {
    display: none !important;
}

.product-information__right-dropdowns .bestsellers-products-item__size {
    display: none !important;
}


.variations .value {
    margin: 15px 0;
}


@media(max-width: 600px) {
    .single_variation_wrap .product-information__btns {}

    .product-information__container .product-information__right-dropdowns .variations_form .btn-bottom {
        min-width: 205px;
    }

    .variations_form .product-information__btns .btn-bottom:first-child {
        right: unset !important;
    }
}

@media(max-width: 455px) {
    .variations .product-information__price-info .info-points {
        display: none;
    }

    .product-information__price-info .price {
        margin: 0 auto;
        font: 700 19px/46px Montserrat, sans-serif;
    }

}